<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Cache-Control" content="no-cache" />
		<link href="{base_url}/public/wap/template/{merchant.wap_template}/css/wapcss.css" rel="stylesheet" type="text/css" />
		<title>{merchant.merchant_name}</title>
	</head>
	<body>
		<div id="main">
			<div class="header">
				<center><b class="rtop"><b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"></b> </b>
				<div class="header_item">
					{merchant.merchant_name}
				</div>
				</center>
			</div>
			<div class="line"></div>
			<div class="body">
				<div class="menu">
				  <!-- list start -->
                    {foreach:results, $i, $rs}
                       {if:$rs->item->item_type==1}   
                        <div class="menu{($i+1)%2}">
                        <p><img src="{base_url}/public/wap/template/{merchant.wap_template}/images/about_logo.gif" alt="{$rs->item->item_name}" title="" />{$rs->introduction->introduction_content}</p>
                        </div>
                        {end}
                        <!-- 
                        {if:$rs->item->item_type==0}                       	
						<div class="menu{$i%2}">
									<a href="index.php?introduction_action/wap_introduction_show/item_id/{$rs->item->item_id}">{$rs->item->item_name}</a>
						</div>
						{end}
                         -->                
						{if:$rs->item->item_type==1}	
						<div class="menu{$i%2}">
							<a href="index.php?IntroductionAction/wap_introduction_show/item_id/{$rs->item->item_id}">{$rs->item->item_name}</a>
						</div>
						{end}
						{if:$rs->item->item_type==2}	
						<div class="menu{$i%2}">
									<a href="index.php?NewsAction/wap_news_list/current_page/1/item_id/{$rs->item->item_id}">{$rs->item->item_name}</a>
						</div>
						{end}
						{if:$rs->item->item_type==3}	
						<div class="menu{$i%2}">
									<a href="index.php?ProductAction/wap_product_list/current_page/1/item_id/{$rs->item->item_id}">{$rs->item->item_name}</a>
						</div>
						{end}
						{if:$rs->item->item_type==4}	
						<div class="menu{$i%2}">
									<a href="index.php?ContactUsAction/wap_contact_us_show/item_id/{$rs->item->item_id}">{$rs->item->item_name}</a>
						</div>
						{end}
					 {end}			
				</div>
				
				<div class="menu_br">
					<br />
					<br />
				</div>
				<div class="line2"></div>
				<div class="listbox">
					   <!-- 
						<div class="list">
							<a
								href='http://wap.me.139mp.com:80/wap/ec_vip_register.jsp?merchantId=2270201619&amp;merchantName=中国民生银行洪山支行&amp;templatePath=template/T000000004/'>注册为企业会员</a>
							<br />
						</div>
					    -->
					
					
				</div>
			</div>
			<div class="line"></div>
			<div class="footer">
				<div class="copyright">
					{merchant.merchant_name}&copy;
					<br />
					<a href="{base_url}/index.php?IndexAction/display_wap">网站首页</a>
				</div>
				<b class="rbottom"><b class="r4"></b><b class="r3"></b><b
					class="r2"></b><b class="r1"></b> </b>
			</div>
		</div>
	</body>
</html>
