<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Index</title>
</head>
<body>

<h1>Forum</h1>
<hr/>
<!-- 
<a href="{base_url}/index.php?UserAction/register_user_info">register_user_info</a> <br/>
<a href="{base_url}/index.php?UserAction/login_system">login_system</a> <br/>
 -->
 
 <h3>User</h3> <br/>
<a href="{base_url}/index.php?UserAction/display_login_ui">display_login_ui</a> <br/>
<a href="{base_url}/index.php?UserAction/display_register_ui">display_register_ui</a> <br/>

<h3>Subject</h3> <br/>
<a href="{base_url}/index.php?SubjectAction/display_subject_publish_ui">display_subject_publish_ui</a> <br/>
<a href="{base_url}/index.php?SubjectAction/subject_list/current_page/1">subject_list</a> <br/>

</body>
</html>