<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title>{merchant.merchant_name}</title>
<link rel="stylesheet" style="text/css" href="{base_url}/public/web/template/{merchant.web_template}/css/web.css" />
</head>
<body style="background:#FFF url({base_url}/public/web/template/{merchant.web_template}/images/body_bg.jpg) repeat-x;">
<div id="home">
  {include:web_header.html}
  <div id="content">
    <div id="left_bar">
       <div id="help">
	     {include:web_contact_us.html}
		 {include:web_help.html}
	   </div>
	</div> 
		 
    <div id="contenter">
       <div id="intro">
		     <h3>{item.item_name}</h3>
		     <ul>
		     <li>
		      <center>
					{product.product_name}<br/>
                    {product.issue_time}<br/>
                    </center>
                    <br/>
                    <center><img src="{base_url}{product.pic_url}" width="300" style="border:none"/></center>
					<br/>
					{product.description}
		     </li>
		     </ul>
	    </div>
	</div>
	
  </div>
    {include:web_footer.html}
</div>
</body>
</html>
  