  <div id="header">
   <h1><img src="{base_url}/public/web/template/{merchant.web_template}/images/logo.gif" /></h1>
<!-- nav-->
    <div id="main_nav">
      <ul>
        <li class="nav_home"><a href="{base_url}/">首页</a></li>
         <!-- list start -->
    {foreach:menus, $it}
        {if:$it->item_type == 0}
	    <li><a href="index.php?ItemAction/web_sub_item/item_id/{$it->item_id}/item_up_id/{$it->item_up_id}">{$it->item_name}</a></li>
	    {end}
	    {if:$it->item_type == 1}
	    <li><a href="index.php?IntroductionAction/web_introduction_show/item_id/{$it->item_id}">{$it->item_name}</a></li>
	    {end}
	    {if:$it->item_type == 2}
	    <li><a href="index.php?NewsAction/web_news_list/current_page/1/item_id/{$it->item_id}">{$it->item_name}</a></li>
	    {end}
	    {if:$it->item_type == 3}
	    <li><a href="index.php?ProductAction/web_product_list/item_id/{$it->item_id}">{$it->item_name}</a></li>
	    {end}
	    {if:$it->item_type == 4}
	    <li><a href="index.php?SubjectAction/web_subject_list/item_id/{$it->item_id}">{$it->item_name}</a></li>
	    {end}
	    {if:$it->item_type == 5}
	    <li><a href="index.php?ContactUsAction/web_contact_us_show/item_id/{$it->item_id}">{$it->item_name}</a></li>
	    {end}
    {end}
   <!-- list end -->
      </ul>
    </div>
	<!-- ad-->
	<div id="ad">
	    <a href="#"><img src="{base_url}/public/web/template/{merchant.web_template}/images/ad_banner1.jpg" /></a>
	</div>
  </div>