<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Product add</title>
</head>
<body>
<form action="{base_url}/index.php?NewsAction/news_save" method="POST"  enctype="multipart/form-data">
<input type="hidden" name="item_id" value={item_id}> 
title:<input type="text" name="title"/> <br/>
promulgator:<input type="text" name="promulgator"/> <br/>
picture:<input type="file" name="file"/><br/>
content:<textarea rows="20" cols="40" name="content"></textarea><br/>
<input type="hidden" name="status" value="0"> <br/>
 flag:
 <select name="flag">
 <option value="0">普通</option>
 <option value="1">首页</option>
 <option value="2">图片</option>
 </select>
 <br/>
<input type="submit"/><input type="reset"/> <br/>
</form>
</body>
</html>