<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Merchant Information</title>
</head>
<body>

<form action="{base_url}/index.php?MerchantAction/merchant_save" method="POST">
merchant_id:<input type="text" name="merchant_id" value="{merchant.merchant_id}"/> <br/>
merchant_name:<input type="text" name="merchant_name" value="{merchant.merchant_name}"/> <br/>
key_word:<input type="text" name="key_word" value="{merchant.key_word}"/> <br/>
wap_domain:<input type="text" name="wap_domain" value="{merchant.wap_domain}"/> <br/>
web_domain:<input type="text" name="web_domain" value="{merchant.web_domain}"/> <br/>
wap_template:<input type="text" name="wap_template" value="{merchant.wap_template}"/> <br/>
web_template:<input type="text" name="web_template" value="{merchant.web_template}"/> <br/>
email:<input type="text" name="email" value="{merchant.email}"/> <br/>
linkman:<input type="text" name="linkman" value="{merchant.linkman}"/> <br/>
address:<input type="text" name="address" value="{merchant.address}"/> <br/>
telephone:<input type="text" name="telephone" value="{merchant.telephone}"/> <br/>
fax:<input type="text" name="fax" value="{merchant.fax}"/> <br/>
merchant_seq:<input type="text" name="merchant_seq" value="{merchant.merchant_seq}"/> <br/>
<input type="submit" value="确定"/>&nbsp;&nbsp; <input type="reset" value="重置"/><br/>
</form>

</body>
</html>